// === Variables === //


// Colors

$white      :   #fff;
$grey       :   #f4efef;


// Colors Extended

$color-prim        :  $white;
$color-sec         :  $grey;
$color-span        :  #424242;
$color-links-hover :  lightgreen;


// Font Sizes

$font-size-large      :  1.5em;
$font-size-small      :  1em;
$font-size-nav        :  1.2em;


// Font Stacks

$stack-sans-serif     :  sans-serif;
$stack-titillium-web  :  'Titillium Web', $stack-sans-serif;
