// === Variables === //


// Colors

$white      :   #fff;
$grey       :   #f4efef;


// Colors Extended

$color-prim        :  $white;
$color-sec         :  $grey;


// Font Stacks

$stack-sans-serif     :  sans-serif;
$stack-titillium-web  :  'Titillium Web', $stack-sans-serif;
