/*------ Base Page Layout ------*/

* {
  box-sizing: border-box;
}

body {
  font-family: $stack-titillium-web;
  @include brk(wide) {
    padding-top: 108px;
  }
}

img {
  max-width: 100%;
}

h1 {
  border-bottom: darken($color-sec, 20%) 3px solid;
}

h1,
h2 {
  font-family: $stack-titillium-web;
  font-weight: bold;
}

span,
p {
  max-width: 90%;
  margin: 20px auto;
  font-family: $stack-titillium-web;
  color: $color-span;
}

a {
  text-decoration: none;
  color: darken($color-sec, 20%);

  &:visited {
    color: darken($color-sec, 30%);
  }

  &:hover {
    color: $color-links-hover;
    transition: .5s;
  }
}
